@media (max-width: 820px) {
  header nav ul {
   display: none;
  }
  .hamb{
      display: block;
  }

main{
  width: 500px;
}

.cart-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}